<nav class="c12">
	<%= link_to image_tag('colombo-logo.png'), root_path, :title => 'Colombo', :class => 'main-logo' %>
	<ul class="main-nav">
		<li class="blog"><%= link_to 'Blog', '#', :title => 'Blog' %></li>
		<li class="galeries"><%= link_to 'Galerías', '#', :title => 'Galerías' %></li>
		<li class="contact"><%= link_to 'Contacto', '#', :title => 'Contacto' %></li>
	</ul>
</nav>

<% unless loged_in? %>
<div id="user-box" class="user login c3">
	<div class="wrap">
		<%= render 'sessions/login_form' %>
	</div>
	<%= link_to login_path, :title => "Iniciar sesión", :class => "user-button", :id => "user-button" do %>
		<span>Iniciar sesión</span>
		<i></i>
	<% end %>
</div>
<% else %>
<div id="user-box" class="user account c3">
	<nav class="wrap">
		<ul class="user-menu">
			<li><%= link_to "Mi cuenta", my_account_path, :title => "Mi cuenta" %></li>
			<li><%= link_to "Cerrar sesión", logout_path, :method => :delete, :title => "Cerrar sesión" %></li>
		</ul>
	</nav>
	<%= link_to login_path, :title => "Mi cuenta", :class => "user-button", :id => "user-button" do %>
		<span><%= current_user.nick %></span>
		<i></i>
	<% end %>
</div>
<% end %>
