<nav class="c12">
	<%= link_to image_tag('colombo-logo.png'), root_path, :title => 'Colombo', :class => 'main-logo' %>
	<ul class="main-nav">
		<li class="blog"><%= link_to 'Blog', '#', :title => 'Blog' %></li>
		<li class="galeries"><%= link_to 'Galerías', '#', :title => 'Galerías' %></li>
		<li class="contact"><%= link_to 'Contacto', '#', :title => 'Contacto' %></li>
	</ul>
</nav>

<div id="login-box" class="login c3">
	<div class="wrap">
		<%= render 'sessions/login_form' %>
	</div>
	<%= link_to login_path, :title => "Iniciar sesión", :class => "login-button", :id => "login-button" do %>
		<span>Iniciar sesión</span>
		<i></i>
	<% end %>
</div>