<!DOCTYPE html>
<html>
	<head>
  		<title><%= title %></title>
  		<%= stylesheet_link_tag    "application" %>
  		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container">
			<header>
				<%= render 'layouts/header' %>
			</header>
			<section class="main row">
				<%= yield %>
			</section>
			<footer>
			</footer>
			<%= javascript_include_tag "application" %>
		</div>
	</body>
</html>
